* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fuente de texto: dos fuentes (Montserrat, Roboto) */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&family=Roboto:wght@300&display=swap");

:root {
  --color_primary: #5e9188;
  --color_secondary: #ffffff;
  --color_tertiary: #00e676;
  --color_background: #253342;
  --color_important: #ffd700;
  --tamaño_nombre_empresa: 50px;
  --tamaño_links_header: 25px;
  --shadow-color: 210deg 36% 47%;
  --shadow-elevation-medium: 0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0),
    1.5px 2.9px 4.9px hsl(var(--shadow-color) / 0.27),
    3px 6.1px 10.2px hsl(var(--shadow-color) / 0.55),
    6.3px 12.5px 21px hsl(var(--shadow-color) / 0.82);
}

/* Botón Hamburguesa */
.bars__menu {
  width: 30px;
  height: 30px;
  cursor: pointer;
  order: 1;
}

.bars__menu span {
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 300ms;
}

.activeline1__bars-menu {
  transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__bars-menu {
  opacity: 0;
  margin-left: -30px;
}

.activeline3__bars-menu {
  transform: rotate(-45deg) translate(-4px, 2px);
}

/* Header principal */
header {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-color: var(--color_background);
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
}

/* Nombre de la empresa */
.empresa__container {
  display: flex;
  color: var(--color_primary);
  order: 0;
}

.ico-svg {
  position: relative;
  bottom: -0.5vh;
  height: var(--tamaño_nombre_empresa);
  width: var(--tamaño_nombre_empresa);
}

.nombre__empresa {
  font-size: calc(var(--tamaño_nombre_empresa) / 2);
  margin-left: 2vw;
  width: 10vw;
}

/* Links de la barra de navegación */
.nav__links {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 65px;
  right: 0;
  display: grid;
  place-items: center;
  clip-path: circle(0% at top right);
  transition: clip-path 0.4s;
  background-color: var(--color_background);
}

.nav__link {
  text-decoration: none;
  color: var(--color_secondary);
  font-size: var(--tamaño_links_header);
}

.nav__links--open {
  clip-path: circle(150% at top right);
}

.nav__link:hover {
  color: var(--color_tertiary);
}

/* Estilos para el desplazamiento */
.no-scroll {
  overflow: hidden;
}

/* Estilos generales para mobiles */
body {
  font-size: 17px;
  background: white;
}

.main {
  font-family: "Roboto", sans-serif;
  color: var(--color_secondary);
  display: flex;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
  background-color: var(--color_secondary);
}

.gif1,
.img_1 {
  border-radius: 8px;
  margin-top: 1%;
  width: 80%;
}

section .gif1,
section .img_1,
aside .gif1,
aside .img_1 {
  width: 90%;
}

.titulo {
  margin: 2% 0;
  order: 0; /* Coloca el elemento .titulo en la parte superior */
  flex: 0 0 90%;
  padding: 1% 5%;
  text-align: center;
  box-shadow: var(--shadow-elevation-medium);
  background-color: var(--color_background);
  border-radius: 8px;
}

section,
aside,
#Inicio {
  background-color: var(--color_background);
  width: 100vw;
  margin: 2%;
  padding: 1.5%;
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 8px;
  text-align: center;
}

section p,
aside p,
aside ul,
section ol {
  text-align: left;
}

section ol li,
aside ul li {
  margin-left: 18%;
  margin-top: 0.5%;
  color: #ffd700;
  font-size: 17px;
}

.contenedor__video1 {
  text-align: center;
  display: flex;
  align-items: center;
  overflow: auto;
  height: 25vh;
  margin: 2% 5% 5% 5%;
}

h2 {
  text-align: center;
}

p {
  margin: 2% 2%;
}

#Inicio {
  justify-self: center;
  text-align: center;
  align-items: center;
}

#Titulo_inicio {
  margin: 0.5% 0 2% 0;
}

#img_inicio1 {
  margin-bottom: 1%;
}

.link_IG {
  display: flex;
  text-decoration: none;
  color: #00e676;
  font-size: 50px;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.icon_ig {
  color: rosybrown;
  margin: 0 50%;
}

/* Artículos en cards */
.card {
  display: flex;
  flex: 0 0 80%;
  flex-wrap: wrap;
  min-width: 325px;
  max-width: 350px;
  margin: 5% 2.5%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: var(--shadow-elevation-medium);
  width: 20%;
  height: 400px;
  transition: transform 0.3s ease-in-out;
}

.card__image {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
  height: 50%;
  overflow: auto;
}

.card__content {
  height: 50%;
  padding: 16px;
}

.card__title {
  text-align: left;
  color: var(--color_primary);
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.card__description {
  font-size: 1rem;
  color: #555;
}

.card__button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #5e9188;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.card:hover {
  transform: scale(1.1); /* Escalado del 10% al pasar el mouse */
}

/* Pie de pagina */
footer {
  font-family: "Open Sans", sans-serif;
}

/* Media query para tablets */
@media (min-width: 768px) {
  /* Configuración del header */
  header {
    display: flex;
  }

  .nav__links {
    background-color: transparent;
  }

  .empresa__container {
    justify-content: flex-start;
    margin-right: 7vw;
  }

  .bars__menu {
    display: none;
  }

  .nav__links {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    position: static;
    clip-path: none;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav__link {
    padding: 2.5%;
  }

  /* Animación del icono de la empresa */
  .ico-svg:hover {
    animation: salto 0.8s infinite;
  }

  @keyframes salto {
    0%,
    100% {
      top: 0;
    }
    30% {
      top: calc(-0.25 * var(--tamaño_nombre_empresa));
    }
  }

  /* Cuerpo Principal */
  body {
    font-size: 18px;
  }

  .main {
    overflow: auto;
  }

  .card {
    flex: auto;
  }

  section,
  aside,
  #Inicio {
    flex: 1;
  }

  #Inicio {
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #Titulo_inicio {
    justify-content: center;
    order: 0;
    text-align: center;
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    margin: 1% 0 1.5% 0;
  }

  #img_inicio1 {
    order: 0;
    display: flex;
    margin-right: 2.5%;
  }

  #Texto_inicio1 {
    text-align: center;
    order: 0;
    width: 50%;
  }

  #Texto_inicio2 {
    text-align: center;
    order: 1;
    width: 50%;
  }

  #gif1_inicio {
    display: flex;
    order: 1;
  }

  .gif1,
  .img_1 {
    width: 47%;
  }

  section .gif1,
  section .img_1,
  aside .gif1,
  aside .img_1 {
    width: 80%;
  }
}

/* Escritorios normales */
@media (min-width: 992px) {
  body {
    font-size: 19px;
  }

  .nombre__empresa {
    font-size: calc(var(--tamaño_nombre_empresa));
    width: 524px;
    margin-left: 1vw;
  }

  .empresa__container {
    width: auto;
  }
}
